<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>LOGIN - MDH BAHIA SRL</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href={% static "css/styles.css"%} rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3">DISTRIBUIDORA</span>
                <span class="site-heading-lower">MDH BAHIA SRL</span>
            </h1>
        </header>
        <!-- Navigation-->
        <div style="position: fixed; top: 0; right: 0;">
            {% if not request.user.is_authenticated %} 
              <a class="btn btn-success" href={% url "login" %}>
                <img src={% static "assets/img/63699.png" %} alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Iniciar sesion
              </a>
              <a class="btn btn-primary" href={% url "register" %}>
                <img src={% static "assets/img/63699.png" %} alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Registrarse
              </a>
            {% else %}
              <a class="btn btn-danger" href={% url "logout" %}>
                <img src={% static "assets/img/63699.png" %} alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Cerrar sesion
              </a>
            {% endif %}
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href={% url "inicio" %}>Inicio</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href={% url "productos"%}>Productos</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href={% url "tienda" %}>Tienda</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <form action={% url "register" %} method="POST">
            {% csrf_token %}
            <table>
            {{formulario_de_registro}}
            <table>
            <input type = "submit" value = "Registrarse" a class="btn btn-warning">
        <form>  